<!-- START: ID=FM03-v4.2 Footer Nav Bar -->
<table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td class="pd0" style="padding: 16px 0px 15px; border-top: 1px solid #DEDEDE;" align="center" valign="top">
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr role="list">
          <th role="listitem" class="fm-nav-link full-width-block" style="padding: 0 10px;">
            <a href="https://www.americanexpress.com/argentina/legal/privacy_statement.shtml" class="link" target="_blank" style="color: #006fcf; font-weight: normal; font-size: 15px; line-height: 22px; text-decoration: none; display: block; padding: 12px 0; font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">Privacidad</a>
          </th>
          <th role="listitem" class="fm-nav-link full-width-block fm-border" style="padding: 0 10px;">
            <a href="https://www.americanexpress.com/ar/content/ayuda/contactenos.html" target="_blank" class="link" style="color: #006fcf; font-weight: normal; font-size: 15px; line-height: 22px; text-decoration: none; display: block; padding: 12px 0; font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">Contacto</a>
          </th>
          <th role="listitem" class="fm-nav-link full-width-block fm-border" style="padding: 0 10px;">
            <a href="https://www.americanexpress.com/es-ar/account/login?DestPage=https%3A%2F%2Fglobal.americanexpress.com%2Fmyca%2Fintl%2Facctmaintain%2Fcanlac%2FchangeDetails.do" target="_blank" class="link" style="color: #006fcf; font-weight: normal; font-size: 15px; line-height: 22px; text-decoration: none; display: block; padding: 12px 0; font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">Actualizar email</a>
          </th>
          <th role="listitem" class="fm-nav-link full-width-block fm-border" style="padding: 0 10px;">
            <a href="https://global.americanexpress.com/privacy/argentina/#/ipp" target="_blank" class="link" style="color: #006fcf; font-weight: normal; font-size: 15px; line-height: 22px; text-decoration: none; display: block; padding: 12px 0; font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">Desuscribirse</a>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END: FM03-v4.2 Footer Nav Bar -->
